h1 {
    background: red; }
    
    .par-1
    {
    font-size: 14pt;
    color: red;
    }
    
    .par-2
    {
    border: 10px solid yellow;
    border-radius: 5%;
    }
    
    div
    {
    font-family: Arial;
    font-weight: bold;
    }